<report-tile class="current-applications" report="$ctrl.report" tile="$ctrl.tile" parent="$ctrl.parent">
    <report-content>
        <div detect-fully-visible-items parent-selector=".card-content"
             ng-if="$ctrl.report.data">
            <div class="row" ng-repeat="application in $ctrl.report.data">
                <div class="current-applications-entry">
                    <div class="col-sm-3 text-left">
                        <i class="xl-icon app-icon"></i>
                        <span class="text-ellipsis" title="{{::application.applicationName}}">{{::application.applicationName}}</span>
                    </div>
                    <div class="col-sm-2">
                        <i class="xl-icon package-icon"></i>
                        <span class="text-ellipsis" title="{{::application.version}}">{{::application.version}}</span>
                    </div>
                    <div class="col-sm-3">
                        <i class="xl-icon environment-icon"></i>
                        <span class="text-ellipsis" title="{{::application.environmentName}}">{{::application.environmentName}}</span>
                    </div>
                    <div class="col-sm-2">
                        <span class="text-ellipsis" title="{{::application.releaseTitle}}">{{::application.releaseTitle}}</span>
                    </div>
                    <div class="col-sm-2">
                        <span class="text-ellipsis" title="{{::application.applicationId}}">{{::application.applicationId}}</span>
                    </div>
                </div>
            </div>
        </div>
    </report-content>
    <report-footer>
        <button class="show-deployment-activity btn-link" ng-click="$ctrl.showDetails(params)">Show all applications</button>
    </report-footer>
</report-tile>
